.embedMedia {

  display: inline-block;
  line-height: 0;
  position: relative;
  /* height: 0; */
  width: 790px;
}

.embedMedia .media {
}

.embedMedia .media iframe {
  position: inherit;
}

.embedMedia .character {
  /* Do not use display: none, or you'll break backspace for some reason! */
  font-size: 0;
  opacity: 0;
}
  /* ------------------------------------------------------------------- */

.embedRemoteImageSpan{
  display: inline-block;
  line-height: 0;
  width:50%;
  cursor: pointer;
}
.embedRemoteImage{
  width: 100%;
  object-fit: cover;

}
.image{
  object-fit: cover;
  width: 100%;
}


.embedRemoteImageSpan .character {
    font-size: 0;
    opacity: 0;
}
  /* ------------------------------------------------------------------- */

.video{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.embedRemoteVideoSpan{
  display: inline-block;
  line-height: 0;
  width:50%;
  cursor: pointer;
}
.embedRemoteVideoSpan .character {
  font-size: 0;
  opacity: 0;
}
.videoClass{
  width : 100%
}

  /* ------------------------------------------------------------------- */

.audio{
  object-fit: cover;

}
.embedRemoteAudioSpan{
  display: inline-block;
  line-height: 0;
  width:50%;
  cursor: pointer;
}
.embedRemoteAudioSpan .character {
  font-size: 0;
  opacity: 0;
}
.audioClass{
  width : 100%
}

.ep_insert_media_Left {
  float: left;
}
.ep_insert_media_Right {
  float: right;
}
.ep_insert_media_Center {
  margin: auto;
  display: block;
}

.ep_insert_media_Small{
  width: 25% !important;

}
.ep_insert_media_Medium {
  width: 50% !important;

}
.ep_insert_media_Large {
  width: 100% !important;

}
.media{
  width: 100%;
  padding: 0 !important;
}