#embedMediaModal {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  left: 343px;
  width: 344px;
  height: 418px;
  background-color: #fff;
  position: absolute;
  top: 89px;
  visibility: hidden;
  overflow: hidden;
  color: #202124;
  z-index: 999999;
  transition: all .3s;
  border-radius: 0 0 6px 6px;
  box-shadow: 1px 1px 4px rgb(87,98,115,.1);
  border: 1px solid #e6e8e9;
  font-size: 14px;
  transform: scale(.7);
  opacity: 0;
  transition: all .3s cubic-bezier(.74,-.05,.27,1.75);
}

.ep_insert_media_label {
  margin: 18px 0px 0 18px;
  cursor: pointer;
  height: 16px;
  width: 96px;
  /* background: #5d7af3; */
  color: #5d7af3;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  float: right;
}
.ep_insert_media_file{
  opacity: 0;
  /* position: absolute; */
  z-index: -1;
  display: none;
}
#mediaSizeSelect{
  margin-top: 30px;
  height: 61px;

}
.btnMediaSizeContainer{
  width: 312px;
  height : 37px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  background: #EFEFEF;
  border-radius: 4px;
  color: #474747;
  margin-top: 8px;
  float: left;
}
div.btnMediaSize {
  display: block;
  margin-right: 0;
  padding: 8px 6px 6px 7px;
  cursor: pointer;
  float: left;
  background: #efefef;
  border-radius: 4px;
  width: 100px;
  height: 31px;
  margin: auto;
  margin-top: 3px;
  margin-left: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
}
div.btnMediaSize.on {
  background: #3873E0;
  color: white;
  font-weight: 700;

}
div.btnAlignDirection{
  display: block;
  margin-right: 0;
  padding: 8px 6px 6px 7px;
  cursor: pointer;
  float: left;
  background: #efefef;
  border-radius: 4px;
  width: 100px;
  height: 31px;
  margin: auto;
  margin-top: 3px;
  margin-left: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
}

div.btnAlignDirection.on{
  background: #3873E0;
  color: white;
  font-weight: 700;


}
div.btnAlignDirection.on .alignIcon path{
  background: #3873E0;
  color: white;
  font-weight: 700;
  fill: #FFFFFF;


}
div.btnAlignDirection .alignIcon path{
 fill: #474747;
}
.embedMediaButton {
  background-color: #00e293;
    padding-left: 10px;
    color: #fff;
    padding-right: 10px;
    height: 33px;
    margin-right: 11px;
}
.embedMediaSrc.innerLable{
  margin-left: 2px !important;
  margin-top: 3px !important;
  position: absolute;
  width: 30px;
  text-align: center;
  font-weight: 700;
  color: gray;
}

.embedMediaSrc{
  width: 55%;
  margin: 0!important;
}
.embedMediaSrc.embedMediaSrcButton{
  margin: 8px 0 0 0 !important;
  height: 35px;
  width: 196px;
  float: left;
  background: #EFEFEF;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #474747;
}

#insertEmbedMedia {
  font-family:font-awesome;
}

.buttonicon-embed-media:before{
  content:"\e80b";
  top: 2px !important;
}
.insertEmbedMedia-show {
  transform: scale(1) !important;
  opacity: 1 !important;
  visibility: visible !important;
}
.embeddedPopupContainer{
  width: 100%;
  height: 100%;
  display: block;
  padding: 0px 16px 0px 16px;

}
.embeddedTopContainer{
  height: 53px;
}
.embeddedTopContainer_header{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-top: 16px;
  width: 90%;
  float: left;
}
.embeddedTopContainer_subheader{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #696969;
  padding-top: 4px;
  float: left;

}
.embeddedTopContainer_close
{
  float: right;
  cursor: pointer;
  padding-top: 16px;
}
.embeddedRemoteImage{

  object-fit: cover;
}
.inlineBoxes{
  width: 100%;
  display: inline-flex;
  height: 50px;
}
.dividerForBoxes{
  font-weight: 700;
  margin-top: 4%;
  margin-right: 4%;
  margin-left: 4%;
}
.dividerForOptions{
   margin-right: 4%;
  margin-left: 4%;
}
.embeddedUrlContainer{
  height: 59px;
  margin-top: 25px;
  width: 100%;
}
.embeddedUrlContainer_header{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #696969;
  float: left;
  width: 100%;
}
.embedMediaButtonInsert{
  background: #3873E0;
  box-shadow: 0px 2px 0px #2255B5;
  border-radius: 4px;
  height: 39px;
  width: 100%;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-top: 36px;
}
.ep_insert_media_icon::before{
	content: "\e83a";
	font-size: 16px;
}
