#embedMediaModal {

  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;

  background-color: #fff;
  position: absolute;
  top: 55px;
  right: 20px;
  visibility: hidden;
      overflow: hidden;
  color: rgb(32, 33, 36);
  z-index: 999999;
transition: all .3s;
border-radius: 0 0 6px 6px;
box-shadow: 1px 1px 4px rgb(87, 98, 115, .1);
border: 1px solid #e6e8e9;
  font-size: 14px;
  transform: scale(.7);
  opacity: 0;
  transition: all .3s cubic-bezier(.74,-.05,.27,1.75);
}

.embedMediaButton {
  padding:10px;
}

#cancelEmbedMedia{
  color:red;
} 

#insertEmbedMedia {
  font-family:font-awesome;
}

.buttonicon-embed-media:before{
  content:"\e80b";
  top: 2px !important;
}
.insertEmbedMedia-show {
  transform: scale(1) !important;
  opacity: 1 !important;
  visibility: visible !important;
}
.embeddedPopupContainer{
  width : 80%;
  height: 80%;
  margin: auto;
  display: block;
  padding-top: 30px;
    padding-bottom: 35px;
}
#embedMediaSrc{
  width:100%
}