<!DOCTYPE html>
<html>
  <head>
    <title data-l10n-id="ep_insert_media.links">Links</title>
    <link href="../static/plugins/ep_insert_media/static/style.css" rel="stylesheet">
  </head>
  <body>
    <%- body %>
  </body>
</html>
