<li class="separator"></li>
<li class="addLink">
    <a title="Add new hyperlink on selection" data-l10n-id="ep_insert_media.add_link.title">
      <span class="buttonicon buttonicon-link"></span>
    </a>
</li>
