<li class="separator"></li>
<li class="addMedia">
    <a title="Add new media on selection" data-l10n-id="ep_insert_media.add_media.title">
      <span class="buttonicon buttonicon-picture"></span>
    </a>
</li>
