<div id="embedMediaModal" class="popup">
    <% e.begin_block("embedMediaPopup"); %>
    <div class="embeddedPopupContainer">
        <h1>Insert Media</h1>
        <p>Picture, audio, video or stream</p>
        <!-- <input type="text"  placeholder="Youtube url" id="embedMediaSrc" /> -->
        <form method="post" action="" enctype="multipart/form-data" id="myform">
 
            <input type="file" id="file" name="file" /> 
            <input type="text"  placeholder="Youtube/Image url" id="embedMediaSrc" />

            <div id="mediaSizeSelect">
                <select name="size" >
                    <option selected="selected" value="Small">Small</option>
                    <option selected="selected" value="Medium">Medium</option>
                    <option value="Large">Large</option>
                </select>
                <input type="hidden" id="selectedSize" value="Small">
            </div>
    
        </form>

        <div>
            <!-- <input type="button" class="button" value="Upload" id="but_upload"> -->
            <input type="button" class="embedMediaButton" id="doEmbedMedia" value="Insert media">
            <input type="button" class="embedMediaButton" id="cancelEmbedMedia" value="Cancel">
        </div>
    </div>
 
   
    <% e.end_block(); %>
</div>
