<div id="embedMediaModal" class="popup">
    <% e.begin_block("embedMediaPopup"); %>
    <div class="embeddedPopupContainer">
        <h1>Embed media into this pad</h1>
        <p>Paste a link or "embed code" here:</p>
        <input type="text"  placeholder="youtube url" id="embedMediaSrc" />
        <input type="text" id="embedPictureSrc" value="" placeholder="image url"/>

        <div>
            <input type="button" class="embedMediaButton" id="doEmbedMedia" value="Insert media">
            <input type="button" class="embedMediaButton" id="cancelEmbedMedia" value="Cancel">
        </div>
    </div>
    <% e.end_block(); %>
</div>
